/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');

/* Variables */

:root {
  /* Colors */
  --color-very-light-yellow: hsl(56, 100%, 95%);
  --color-yellow: hsl(66, 51%, 88%);

  --color-light-green: hsl(165, 67%, 80%);

  --color-very-light-blue: hsl(205, 51%, 88%);
  --color-dark-blue: hsl(204, 100%, 17%);
}

:root {
  /* Borders */
  --border-yellow: 4px solid var(--color-yellow);
  --border-very-light-blue: 2px solid var(--color-very-light-blue);
}

:root {
  /* Border Radius */
  --small-border-radius: 10px;
}

/* Utilitary Classes */

.utils-text-align-center {
  text-align: center;
}

.utils-flex-align-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Styles */

:root {
  font-size: clamp(14px, 2vw, 18px);
}

* {
  box-sizing: border-box;
}

body,
input,
textarea,
select,
button {
  font-family: "noto sans", "sans-serif";
}

body {
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.background-img,
main {
  height: 100%;
  position: absolute;
  width: 100%;
}

.background-img {
  filter: opacity(0.2);
}

main {
  display: grid;
  gap: 2rem;
  grid-template-columns: 300px 1fr;
  width: 100%;
  height: 100%;
}

.container {
  background: var(--color-very-light-yellow);
  border-right: var(--border-yellow);
  height: 100%;
  padding: 2rem;
}

textarea {
  border-radius: var(--small-border-radius);
  border: none;
  font-size: 1rem;
  height: 30%;
  margin-bottom: 1rem;
  overflow-y: scroll;
  padding: 1rem;
  resize: none;
  width: 100%;
}

textarea:focus {
  outline: none;
}

.voice-selector-container {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.voice-selector {
  width: 100%;
  cursor: pointer;
}

select {
  background: white;
  border-radius: var(--small-border-radius);
  border: var(--border-very-light-blue);
  font-size: 0.9rem;
  padding: 0.5rem;
}

input[type='range'] {
  background: white;
  appearance: none;
  border-radius: var(--small-border-radius);
  border: var(--border-very-light-blue);
  width: 100%;
  padding: 0.1rem;
}

button {
  background: var(--color-light-green);
  border-radius: var(--small-border-radius);
  border: none;
  color: var(--color-dark-blue);
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 2rem;
  padding: 0.9rem 1.5rem;
}

.sliders {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #33aa99;
  border-radius: 15px;
  cursor: pointer;
}

.dialogue-container {
  position: relative;
  margin-top: 2rem;
}

.dialogue-text {
  left: 14%;
  max-height: 70%;
  max-width: 70%;
  overflow: scroll;
  position: absolute;
  top: 20%;
  font-size: 1.5rem;
}

.dialogue-text::-webkit-scrollbar {
  display: none;
}

/* Media Queries */

@media (pointer: coarse) {
  h1 {
    display: none;
  }
}

@media (min-width: 870px) {
  main {
    grid-template-columns: 500px 1fr;
  }
}

@media (max-width: 660px) {
  main {
    grid-template-columns: 1fr;
  }

  .container {
    border-bottom: var(--border-yellow);
    border-right: none;
    height: fit-content;
  }
  
  .dialogue-container {
    margin-bottom: 4rem;
  }
}

